body {
background: #3E3A39;
font-family:sans-serif;
}

.menu {

}

.main {
display: block;
background: #3E3A39;
color: #ffffff;
}

.header {
  padding: 0 20px;
  position: relative;
}

.bun {
margin-top: 5%;
text-align: center;
}

.nazo {
text-align: center;
}

img.nazo {
text-align: center;
width: 80%;
}

/* ここから下がハンバーガーメニューに関するCSS */

.icon {
background: #4169e1;
}
  
/* チェックボックスを非表示にする */
.drawer_hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  position: absolute;
  right: 50px;
  top: 10px;
  z-index: 100;
  cursor: pointer;
}

.drawer_open2 {
  position: absolute;
  right: 58px;
  top: -8px;
  z-index: 99;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 5px;
  width: 25px;
  border-radius: 5px;
  background: #fff;
  transition: 0.5s;
  position: absolute;
}

.drawer_open2 span {
　content: '';
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  background: #3E3A39;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 10px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 10px;
}

img.infomation {
margin-top: 10%;
right: 5%;
width: 90%;
z-index: 100;
position: absolute;
display: none;
box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}

/* アイコンがクリックされたら色を変える */
#drawer_input:checked ~ .drawer_open span {
  background: #3E3A39;
}

#drawer_input:checked ~ .drawer_open span::before {
  background: #3E3A39;
}

#drawer_input:checked ~ .drawer_open span::after {
  background: #3E3A39;
}

#drawer_input:checked ~ .drawer_open2 span {
  background: #ffffff;
}

#drawer_input:checked ~ .infomation {
  display: block;
}


.button {
margin-left: 40px;
margin-top: 20px;
text-align: center;
width: 400px;
font-size: 30px;
}

.label-btn1{
  padding: 10px 20px;
  background-color: #3E3A39;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font-weight: bold;
  transition: 0.3s;
}

.label-btn2{
  display: inline-block;
  padding: 10px 20px;
  background-color: #3E3A39;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
margin-left: 10px;
margin-right: 10px;
}
.label-btn3{
  display: inline-block;
  padding: 10px 20px;
  background-color: #3E3A39;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
margin-right: 10px;
}
.label-btn4{
  display: inline-block;
  padding: 10px 20px;
  background-color: #3E3A39;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
margin-right: 10px;
}
.label-btn5{
  display: inline-block;
  padding: 10px 20px;
  background-color: #3E3A39;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
margin-bottom: 10px;
}
.label-btn6{
　float: right;
  padding: 10px 20px;
  background-color: #3E3A39;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
margin-left: 10px;
margin-right: 10px;
}
.label-btn7{
  display: inline-block;
  padding: 10px 20px;
  background-color: #3E3A39;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
margin-right: 10px;
}
.label-btn8{
  display: inline-block;
  padding: 10px 20px;
  background-color: #3E3A39;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
margin-right: 10px;
}
.label-btn9{
  display: inline-block;
  padding: 10px 20px;
  background-color: #3E3A39;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
}

#one {
display: none;
}
#two {
display: none;
}
#three {
display: none;
}
#four {
display: none;
}
#five {
display: none;
}
#six {
display: none;
}
#seven {
display: none;
}
#eight {
display: none;
}
#nine {
display: none;
}


#one:checked ~ .label-btn1 {
  background-color: #ffffff;
}

#one:checked ~ .label-btn1 {
  color: #3E3A39;
}

#two:checked ~ .label-btn2 {
  background-color: #ffffff;
}

#two:checked ~ .label-btn2 {
  color: #3E3A39;
}

#three:checked ~ .label-btn3 {
  background-color: #ffffff;
}

#three:checked ~ .label-btn3 {
  color: #3E3A39;
}

#four:checked ~ .label-btn4 {
  background-color: #ffffff;
}

#four:checked ~ .label-btn4 {
  color: #3E3A39;
}

#five:checked ~ .label-btn5 {
  background-color: #ffffff;
}

#five:checked ~ .label-btn5 {
  color: #3E3A39;
}

#six:checked ~ .label-btn6 {
  background-color: #ffffff;
}

#six:checked ~ .label-btn6 {
  color: #3E3A39;
}

#seven:checked ~ .label-btn7 {
  background-color: #ffffff;
}

#seven:checked ~ .label-btn7 {
  color: #3E3A39;
}

#eight:checked ~ .label-btn8 {
  background-color: #ffffff;
}

#eight:checked ~ .label-btn8 {
  color: #3E3A39;
}

#nine:checked ~ .label-btn9 {
  background-color: #ffffff;
}

#nine:checked ~ .label-btn9 {
  color: #3E3A39;
}

.send-button {
margin-top: 20px;
text-align: center;
font-size: 25px;
}

.label-send {
display: inline-block;
  padding: 5px 30px;
  background-color: #3E3A39;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
  color: #fff;
}

.play-ex {
display: block;
padding: 0px -30px;
  background-color: #3E3A39;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
  color: #fff;
　font-size: 20px;
}

.clear {
font-size: 100px;
color: #fff;
}

